
.responsive{
    width: 100%;
    height: auto;
}


/* banner ads responsive */
{
            margin:0;
            padding:0;
            box-sizing: border-box;
        }
        body {
            min-height:5vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .container  {
            width:728px;
            height:70px;
        }
        .container img{
            width:100%;
            height:auto;
            object-fit: cover;
}
